<% include header %>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

	<div id="preloader">
      <div id="load"></div>
    </div>

	<% include navbar %>

	<section id="intro" class="intro">
      <div class="slogan  text-center">
        <h2><%-title %></h2>
        <h4>The best place to start your great idea.</h4>
      </div>
      <div class="page-scroll">
        <a href="#login" class="btn btn-circle">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </section>

    <section id="login" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h1>Log in <small>with</small></h1>
            <i class="fa fa-2x fa-angle-down"></i>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="container social">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <hr class="marginbot-50">
      </div>
    </div>
          <div class="logs">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <a id="facebook" href="/auth/facebook" class="link facebook" target="_parent"><span class="entypo-facebook"></span></a>

                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <a id="twitter" href="/auth/twitter" class="link twitter" target="_parent"><span class="entypo-twitter"></span></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <a id="google" href="/auth/google" class="link google-plus" target="_parent"><span class="entypo-gplus" ></span></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <a id="espol" class="link espol" style="cursor:pointer" data-toggle="modal" data-target="#loginModal" target="_parent" ><span> <img src="img/tortuga.png" vspace="10" alt="Logo ESPOL"></span></a>
                </div>
            </div>
          </div>
    </div>
  </section>

<% include footer %>
<% include formLogin %>
<% include formRegister %>


<script src="/components/jquery/dist/jquery.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js" type="text/javascript"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/registro.js" type="text/javascript"></script>
<script src="/js/indexAnimation.js" type="text/javascript"></script>
<script src="/js/jquery.easing.min.js"></script>
</body>
</html>
